body{
    margin: 0px;
}

.ulnav{
    display: flex;
    list-style-type: none;
    
    
}
.anav{
    color:inherit;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

nav{
    background-color: steelblue;
    padding: 10px;
}



.linav{
    padding-right: 30px;
}

.tablecontainer{
    display: flex;
    justify-content: center;
}

caption{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    
}

table {
    font-size: 40px;
    margin : 40px;
    font-family: "Roboto", sans-serif;
    border: 2px solid black;
    justify-content: center;
}

th{
    padding-right: 50px;
}


td{
    padding-right: 50px;
}

footer{
    font-family: "Oswald", sans-serif;
    text-align: center;
}